.jeopardy-category {
	display: flex;
	flex-direction: column;
	gap: 1px;
	background-color: black;
	h2 {
		flex: 0 0 auto;
		background-color: blue;
		color: white;
		text-align: center;
		font-size: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;
		padding: 10px;
		height: 120px;
	}
}
